body {
    margin: 0;
    padding: 10px;
    font-family: 'Comfortaa', cursive;
    font-weight: 400;
    text-align: center;
    background-color: #e6e0db;
    /* text-shadow: -2px 3px 3px rgb(255, 255, 255); */
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-ian {
    width: 50%;
    border-radius: 50%;
    border: solid 8px #e2abb6;
}

.pink-bcg {
    background: #e2abb6;
    padding: 5px 10px;
    border-radius: 4px;
}

h4 {
    margin-top: 0;
}

.img-gift {
    width: 400px;
    height: 400px;
    background-image: url("../img/gift.jpg");
    background-color: grey;
    background-position: center;
    background-size: cover;
    border: solid 8px #e2abb6;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
}

.gift-sec {
    margin-top: 50px;
}

.gift-sec-subtitle {
    margin-top: 0;
}

.gift-sec-title {
    margin-bottom: 5px;
}

.img-gift:hover {
    background-image: url('https://media.giphy.com/media/3o7abldj0b3rxrZUxW/giphy.gif');
}